<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/components.css}">
    <link rel="stylesheet" th:href="@{/css/auth.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <header class="headerContainer">
        <div class="logoContainer">
            <img th:src="@{/images/header-logo.jpg}" alt="nevesLogo">
        </div>
        <nav class="navContainer">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Criar conta</a>
        </nav>
    </header>








 







    <footer class="footerContainer">
        <div class="footerDiv">
            <img th:src="@{/images/icon-mail.png}" class="footerImg" alt="icon mail">
            <p>haroldohenriquedasneves@gmail.com</p>
        </div>
        <div class="footerDiv">
            <img th:src="@{/images/icon-telefone.png}" class="footerImg" alt="icon telefone">
            <p>+55 48 9 98314066</p>
        </div>
        <div class="footerDiv">
            <img th:src="@{/images/icon-relogio.png}" class="footerImg" alt="icon relogio">
            <p>Open Hours: Seg - Dom 13:00 - 23:00</p>
        </div>
    </footer>

</body>

</html>