.pageWrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainContainer {
    width: 100%;
    flex: 1;
    background: #171717;
    background: radial-gradient(circle, rgba(23, 23, 23, 1) 0%, rgba(26, 26, 26, 1) 13%, rgba(97, 36, 150, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formContainer {
    margin: 2vh 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.inputContainer {
    min-width: 25vw;

    & input {
        padding: 12px 16px;
        width: 100%;
        height: 51px;
        border: 1px solid #3f3f46;
        border-radius: 8px;
        color: #fff;
        background-color: #262626;
        transition: all 200ms ease;
    }

    & input:hover {
        border: 1px solid #71717b;
    }

    & input:focus {
        outline: none;
        border-color: #7c3aed;
        box-shadow: 0 0 0 1px #7c3aed;
    }

    & p {
        color: oklch(70.4% 0.191 22.216);
        text-shadow: 1px 1px 2px #000;
        font-size: 14px;
        margin-top: 0.25rem;
    }
}