/* **********HEADER******** */

.headerContainer {
    background-color: #fff;
    width: 100%;
    min-height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 3px 15px #555555ab;

}

.logoContainer {
    display: flex;
    align-items: center;

    & img {
        height: 64px;
        width: auto;
        max-width: 100%;
    }
}

.navContainer {
    display: flex;
    align-items: center;
    gap: 3vw;
    font-size: 1.25rem;

    & a {
        text-decoration: none;
        color: var(--preto);
    }

    & a:hover {
        color: var(--roxo-fraco);
        cursor: pointer;
    }
}


/* **********FOOTER******** */

.footerContainer {
    background-color: #000;
    font-size: small;
    color: #fff;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.footerImg{
    width: auto;
    height: 20px;
}



.footerDiv {
    display: flex;
    gap: 5px;
}